<!-- daftardost/jobs/templates/jobs/job_post_page.html -->
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<article class="job-post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        
        {% if page.header_image %}
            {% image page.header_image width-800 class="header-image" %}
        {% endif %}
        
        <div class="organization">{{ page.organization }}</div>
        {% if page.advertisement_number %}
            <div class="advt-number">Advertisement No: {{ page.advertisement_number }}</div>
        {% endif %}
        
        {% if page.short_description %}
            <div class="post-description">
                {{ page.short_description|richtext }}
            </div>
        {% endif %}
    </header>

    <div class="post-content">
        {% for block in page.content %}
            <section class="content-block block-{{ block.block_type }}">
                {% include_block block %}
            </section>
        {% endfor %}
    </div>
</article>
{% endblock %}